<template name="home">
  {{setTitle 'Home'}}
  <form id="form-search-friends">
    <div class="ui action input fluid massive">
      <input id="input-search-friends" type="text" placeholder="Search Friends...">
      <div id="button-search-friends" class="ui button"><i class="search icon"></i> Search</div>
    </div>
  </form>
  <div class="ui five items">
    {{#each friends}}
      <div class="item">
        <div class="image">
          <img src="http://graph.facebook.com/{{ facebookId }}/picture?width=200&amp;height=200">
        </div>
        <div class="content">
          <div class="meta">${{ cost }}</div>
          <div class="name" style="margin-bottom: 0.6em;">{{ firstName }}</div>
          <p class="description">
            <div class="ui green fluid button"><i class="money icon"></i> Hire</div>
          </p>
        </div>
      </div>
    {{/each}}
  </div>
</template>
